This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [41]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'j7T2Dv5fSzm1BcZNP_js'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [42]:
# First, import the relevant modules
import requests
import pandas as pd
import datetime
import numpy as np

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [43]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
r = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?api_key=j7T2Dv5fSzm1BcZNP_js')

2. Convert the returned JSON object into a Python dictionary.

In [44]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
data_json = r.json()

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

Get data from API address.

In [45]:
#Get key of data
for k in data_json.keys():
    print(k)

dataset

In [46]:
#Get data from key
data_json1 = data_json['dataset']

In [47]:
#Inspect key in data
for j in data_json1.keys():
    print(j)

id
dataset_code
database_code
name
description
refreshed_at
newest_available_date
oldest_available_date
column_names
frequency
type
premium
limit
transform
column_index
start_date
end_date
data
collapse
order
database_id

In [48]:
#Extract column name from the key column_names of data
column_name = data_json1['column_names']
print(column_name)

['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover']

In [49]:
#Get data price of stock in the data from key data
data_price = pd.DataFrame(data_json1['data'])
print(data_price.head())

            0      1      2      3      4   5         6           7     8  \
0  2019-12-02  111.0  111.4  107.2  107.6 NaN  144610.0  15685797.0  None
1  2019-11-29  108.2  112.7  108.1  111.0 NaN  168617.0  18731904.0  None
2  2019-11-28  109.1  109.1  107.5  108.1 NaN   44677.0   4827719.0  None
3  2019-11-27  109.9  110.0  108.0  108.6 NaN   80332.0   8731068.0  None
4  2019-11-26  108.6  110.0  107.5  109.5 NaN  280313.0  30604384.0  None

      9  10
0  None NaN
1  None NaN
2  None NaN
3  None NaN
4  None NaN

In [50]:
#Assign name of columns to the price stocking dataframe
data_price.columns = column_name
data_price.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2019-12-02,111.0,111.4,107.2,107.6,NaN,144610.0,15685797.0,None,None,NaN
1,2019-11-29,108.2,112.7,108.1,111.0,NaN,168617.0,18731904.0,None,None,NaN
2,2019-11-28,109.1,109.1,107.5,108.1,NaN,44677.0,4827719.0,None,None,NaN
3,2019-11-27,109.9,110.0,108.0,108.6,NaN,80332.0,8731068.0,None,None,NaN
4,2019-11-26,108.6,110.0,107.5,109.5,NaN,280313.0,30604384.0,None,None,NaN

In [52]:
#Convert date to datetime format
data_price['Date'] = pd.to_datetime(data_price['Date'])
data_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 11 columns):
Date                     5016 non-null datetime64[ns]
Open                     4284 non-null float64
High                     4615 non-null float64
Low                      4615 non-null float64
Close                    5016 non-null float64
Change                   9 non-null float64
Traded Volume            4970 non-null float64
Turnover                 3661 non-null float64
Last Price of the Day    0 non-null object
Daily Traded Units       0 non-null object
Daily Turnover           1309 non-null float64
dtypes: datetime64[ns](1), float64(8), object(2)
memory usage: 431.2+ KB

In [53]:
#Create new column name year and split year from the Date
data_price['Year'] = data_price['Date'].map(lambda x: x.strftime('%Y'))
data_price.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover,Year
0,2019-12-02,111.0,111.4,107.2,107.6,NaN,144610.0,15685797.0,None,None,NaN,2019
1,2019-11-29,108.2,112.7,108.1,111.0,NaN,168617.0,18731904.0,None,None,NaN,2019
2,2019-11-28,109.1,109.1,107.5,108.1,NaN,44677.0,4827719.0,None,None,NaN,2019
3,2019-11-27,109.9,110.0,108.0,108.6,NaN,80332.0,8731068.0,None,None,NaN,2019
4,2019-11-26,108.6,110.0,107.5,109.5,NaN,280313.0,30604384.0,None,None,NaN,2019

In [54]:
#Get data for only year 2017
data_price_2017 = data_price[data_price.Year == '2017']
data_price_2017.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover,Year
475,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,NaN,2017
476,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,NaN,2017
477,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,NaN,2017
478,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,NaN,2017
479,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,NaN,2017

In [55]:
data_price_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255 entries, 475 to 729
Data columns (total 12 columns):
Date                     255 non-null datetime64[ns]
Open                     252 non-null float64
High                     255 non-null float64
Low                      255 non-null float64
Close                    255 non-null float64
Change                   1 non-null float64
Traded Volume            255 non-null float64
Turnover                 255 non-null float64
Last Price of the Day    0 non-null object
Daily Traded Units       0 non-null object
Daily Turnover           0 non-null float64
Year                     255 non-null object
dtypes: datetime64[ns](1), float64(8), object(3)
memory usage: 25.9+ KB

3. Calculate what the highest and lowest opening prices were for the stock in this period.

In [56]:
highest_open = max(data_price_2017.Open)
highest_open

53.11

In [57]:
lowest_open = min(data_price_2017.Open)
lowest_open

34.0

4. What was the largest change in any one day (based on High and Low price)?

In [58]:
one_day_change = max(data_price_2017.High - data_price_2017.Low)
one_day_change

2.8100000000000023

5. What was the largest change between any two days (based on Closing Price)?

In [59]:
two_day_change = max((data_price_2017.Close - data_price_2017.Close.shift(2)).fillna(0))
two_day_change

3.1499999999999986

6. What was the average daily trading volume during this year?

In [60]:
average_trade_volume = np.mean(data_price_2017['Traded Volume'])
average_trade_volume

89124.33725490196

7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [64]:
def median_trading(volume):
    volume_sorted = sorted(volume)
    l = len(volume)
    if l % 2 == 0:
        median = (volume_sorted[l//2] + volume_sorted[(l//2) + 1])/2
    else:
        median = volume_sorted[(l//2) + 1]
    return median

In [65]:
print(median_trading(data_price_2017['Traded Volume']))

76600.0